* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #838383;
}

.novo-banner {
    width: 100%;
}

.novo-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.secao-carro-novo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
}

.imagem-carro-novo {
    width: 400px;
    height: 300px;
    margin-right: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1500px;
    border-radius: 15px;
}

.imagem-carro-novo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-origin: center;
}

.texto-descricao-novo {
    width: 500px;
    position: relative;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: 'League Gothic';
}

p {
    font-size: 1.4em;
    line-height: 1.6;
    color: #fff;
    font-family: 'Poppins';
}

@media (max-width: 1000px) {

    .secao-carro-novo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .imagem-carro-novo {
        margin: auto;
        width: 80%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        perspective: 1500px;
        border-radius: 15px 15px 0px 0px;
    }

    .imagem-carro-novo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px; 
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        transform-origin: center;
    }

    .texto-descricao-novo {
        margin: auto;
        width: 80%;
        position: relative;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 0px 0px 15px 15px;
        color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }
  }