#banner {
    width: 100%;
}

.historia {
    h1 {
        text-align: center;
    }
    h5 {
    
     }
    
    p {
        font-weight: 200;
        text-indent: 1.5em;
        text-align: justify;
    }
    
    .texto-historia {
        margin: auto;
        width: 90%;

        section {
            display: flex;
            justify-content: space-between;

            img {
                width: 20%;
                border-radius: 25px;
            }
            aside {
                margin: auto;
                width: 75%;
            }
        }
    }

    .atuacao-historia {
        background: url(../img/fundo-atual.svg); 
        background-size: 100%;  
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;

        section {

            li {
                list-style-type: disc;
            }
        }
    }
}

.timeline {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1 {
        text-align: center;
    }

    .circulo {
        width: 40px;
        height: 40px;
        background-color: #415a76;
        border-radius: 100%;
        margin-bottom: -5px;
    }
    .circulo2 {
        width: 40px;
        height: 40px;
        background-color: #415a76;
        border-radius: 100%;
        margin-top: -5px;
    }

    .linha {
        height: 100px;
        width: 20px;
        background-color: #415a76;
    }

    .textbox-timeline {
        border-style: solid;
        border-width: 10px;
        border-color: #415a76;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
        width: 60%;
        border-radius: 32px;
        background-color: #c9cdc4;
        color: black;

        h2 {
            img {
                height: 0.8em;
            }
        }

        p {
            width: 50%;
        }
    }
}