#banner {
    width: 100%;
}

.grid-container {
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 2fr 1fr; /* Primeira linha: um container maior que o outro */
    grid-template-rows: auto auto; /* Duas linhas */
}

.item {
    background-color: #3498db;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 5px;
}

.item1 {
    grid-column: 1; /* Ocupa a primeira coluna */
    grid-row: 1;
}

.item2 {
    grid-column: 2; /* Ocupa a segunda coluna */
    grid-row: 1;
}

.item3 {
    grid-column: 1 / span 2; /* Ocupa as duas colunas inteiras */
    grid-row: 2;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Em telas menores, apenas uma coluna */
    }

    .item1, .item2, .item3 {
        grid-column: 1 / span 1; /* Cada item ocupa a largura total */
    }
}
        

.atuacao-historia {
    background: url(../img/fundo-atual.svg); 
    background-size: 100%;  
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

    section {
        li {
            list-style-type: disc;
        }
    }
}


.timeline {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1 {
        text-align: center;
    }

    .circulo {
        width: 40px;
        height: 40px;
        background-color: #415a76;
        border-radius: 100%;
        margin-bottom: -5px;
    }
    .circulo2 {
        width: 40px;
        height: 40px;
        background-color: #415a76;
        border-radius: 100%;
        margin-top: -5px;
    }

    .linha {
        height: 100px;
        width: 20px;
        background-color: #415a76;
    }

    .textbox-timeline {
        border-style: solid;
        border-width: 10px;
        border-color: #415a76;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
        width: 60%;
        border-radius: 32px;
        background-color: #c9cdc4;
        color: black;

        h2 {
            img {
                height: 0.8em;
            }
        }

        p {
            width: 50%;
        }
    }
}