.navbar {
    margin-left: -10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 22vh;
    background: url(../img/navbar-image.svg); 
    background-size: 102%;  
}

.sessão-navbar {
    width: 60%;
    display: flex;
    justify-content: space-between;

    .barra {
        pointer-events: none;
    }

    a {
        font-family: 'League Gothic';
        text-transform: uppercase;
        color: #fafafa;
        font-size: 20px;
    }
}

.logo img {
    height: 100px;
}